body{
  font-family: Arial, sans-serif;
  margin:0;
  color:#e8e8e8;

  background: linear-gradient(
    -45deg,
    #0f1110,
    #0f1a14,
    #13201a,
    #0f1110
  );
  background-size: 400% 400%;
  animation: gradientMove 18s ease infinite;
}


/* NAVIGATION */
.nav{
  background:#141716;
  border-bottom:1px solid #1f2523;
  position:sticky;
  top:0;
  z-index:10;
}

.nav-inner{
  width:80%;
  margin:0 auto;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:18px 0;
}

.brand{
  font-weight:700;
  letter-spacing:1px;
  color:#4CAF50; /* green accent */
}

.nav a{
  text-decoration:none;
  color:#cfcfcf;
  margin-left:22px;
  font-weight:600;
  transition:0.2s ease;
}

.nav a:hover{
  color:#4CAF50;
}

.nav a.active{
  color:#4CAF50;
  border-bottom:2px solid #4CAF50;
  padding-bottom:4px;
}

/* CONTENT */
.container{
  width:80%;
  margin:80px auto;
}

h1{
  font-size:48px;
  margin-bottom:10px;
}

h2{
  margin-top:50px;
  border-bottom:1px solid #2c2f2e;
  padding-bottom:10px;
}

.card{
  background:#181c1a;
  padding:24px;
  border-radius:14px;
  box-shadow:0 6px 20px rgba(0,0,0,0.4);
  margin-top:24px;
  transition:0.3s ease;
}

.card:hover{
  transform:translateY(-4px);
  box-shadow:0 8px 25px rgba(76,175,80,0.25);
}

.small{
  color:#b5b5b5;
  line-height:1.7;
}

/* BUTTON */
.btn{
  display:inline-block;
  margin-top:16px;
  padding:10px 16px;
  border-radius:12px;
  background:#4CAF50;
  color:#0f1110;
  text-decoration:none;
  font-weight:700;
  transition:0.2s ease;
}

.btn:hover{
  background:#66d26f;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* HERO SECTION */
.hero{
  display:flex;
  align-items:center;
  gap:60px;
  flex-wrap:wrap;
}

.hero-image img{
  width:260px;
  height:260px;
  object-fit:cover;
  border-radius:50%;
  border:3px solid #4CAF50;
  box-shadow:0 0 30px rgba(76,175,80,0.4);
}

.hero-text{
  max-width:600px;
}


